@charset 'utf-8';

h2 {
  font-size: 14rem;
  font-family: 'Cafe24Simplehae';
  line-height: 100%;
  text-transform: uppercase;
  padding-top: 21rem;
  color: #fff;
}
.me {
  background: url(../img/aboutme-bg.png) no-repeat;
}
.about-me {
  width: 182rem;
  background: var(--black50);
  border-radius: 30px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.about-me-con {
  height: 70.4rem;
  color: #fff;
  padding-top: 19.5rem;
  text-align: center;
}
.about-me-con strong {
  display: block;
  font-size: 5rem;
}
.about-me-con strong b {
  font-weight: 700;
}
.about-me-con h3 {
  font-size: 7rem;
}
.about-me-con h3 b {
  font-weight: 700;
}
.about-me-con p {
  font-size: 2.8rem;
  margin-top: 4.4rem;
}
.about-me-info {
  display: flex;
  color: #fff;
  justify-content: space-between;
}
.about-me-info h4 {
  font-family: 'Cafe24Simplehae';
  font-size: 6rem;
  line-height: 100%;
}
.about-me-info-person {
  display: flex;
  gap: 178px;
  width: 50%;
}
.about-me-info-person-list li {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  line-height: 100%;
}
.about-me-info-tool {
  display: flex;
  gap: 178px;
  width: 50%;
}
.about-me-info-tool-list {
  display: flex;
  flex-direction: column;
}
.about-me-info-tool-list-1 {
  display: flex;
  gap: 2rem;
}
.about-me-info-tool-list-2 {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}
.word {
  margin-top: 25rem;
}
.word > .inner {
  perspective: 1000px;
}
.word-keyword {
  width: 100%;
  height: 57.6rem;
  background: #fff;
  border-radius: 3rem;

  margin-top: 6rem;
  display: flex;
  gap: 1rem;
}
.word-keyword:nth-child(2) {
  flex-direction: row-reverse;
}
.word-img {
  width: 41.666%;
}
.word-img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.word-con {
  color: #000;
  width: 58.333%;
  padding: 10.2rem;
}

.word-con h4 {
  font-family: 'Cafe24Simplehae';
  font-size: 8.4rem;
}
.word-con strong {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 3rem;
}
.word-con p {
  font-size: 1.8rem;
  margin-top: 2rem;
}
/* worksub */
.project {
  background: url(../img/work-bg.png) no-repeat;
}
.project-gnb {
  padding-top: 12.8rem;
  color: #fff;
  display: flex;
  justify-content: center;
}
.project-gnb li {
  transition: 0.4s;
}
.project-gnb li:hover {
  color: #1bbaff;
}
.project-slide {
  position: relative;
}
.project-slide-con {
  color: #fff;
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 41.4285%;
  height: 100%;
  border-radius: 0 50% 50% 0;
  padding: 7rem;

  display: flex;
  align-items: center;
}

.project-slide-con h2 {
  font-size: 60px;
  margin-top: 10px;
  padding-top: 0;
}
.project-slide-con p {
  margin-top: 4rem;
  font-size: 18px;
}
.project-slide-tool-list {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}
.project-gnb li {
  display: block;
  margin: 0 3.5rem;
  /* border: 1px solid #000; */
  font-family: 'Cafe24Simplehae';
  font-size: 3rem;
  color: #fff;
}

.project-slider {
  /*  border: 10px solid #ff0; */
  width: 1820px;
  margin: 3rem auto 0;
  height: 86rem;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
}
.project-slide-tool h3 {
  margin-top: 7rem;
}
.project-slider .swiper-pagination {
  z-index: 10;
  /* background: #5f5; */
  text-align: right;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateX(-50%);
  right: 7rem;
}
.project-slider .swiper-pagination .swiper-pagination-bullet {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.project-slider .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}
.links {
  display: flex;
  gap: 1rem;
}
.links a {
  display: flex;
  width: 200px;
  height: 60px;
  background: #fff;
  border-radius: 50px;
  color: #000;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  transition: 0.4s;
}
.links a:hover {
  background: #1bbaff;
  color: #fff;
}
